@import "../../index";

body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: normal;
    color: $secondary-clr;
}

main {

    padding: 0 2.5em;
}
h1,h2 {
    margin-bottom: 1em;
}



article
{ margin-bottom: 1em;
     a img {
    border-radius: 2rem;
    height: 30rem;
    margin-bottom: 1em;
}
}




.author {
    display: flex;
    gap: 2em;
    align-items: center;
    img {
    border-radius: 50%;
    height: 5rem;
    aspect-ratio: 1/1;
}}


.author-text p {
    font-weight: bold;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@media screen and (min-width: 650px) {

.posts {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3em;

    article {
        width: 40%;
    }
} 
    
}

@media screen and (min-width: 650px) {

        article {
            width: 50%;
        }
    } 
        