@import "../../index";


main {
    padding: 2.5em;
}

h1,h2 {
    font-size: 3.2rem;
    margin: 1em 0;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section > img {
    max-height: 5rem;
}

.card img {
    height: 20rem;
    border-radius: 2rem;
}


.links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    img {
        height: 2rem;
    }
}

.card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #212121;
    border-radius: 1rem;
}

.card-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;
    color: white;
    padding: .5em;
}

.card-text p {
    font-size: 1.6rem;
    font-weight: normal;
}

h3 {
    font-size: 2rem;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;

}

div.card > img:last-of-type {
    width: 50%;
    aspect-ratio: 1/1;
}

@media screen and (min-width: 750px) {
    section > img {
        max-height: 10rem;
    }
    .card {
        width: 45%;


}
}