@import "../defaults/colors";
@import "./utils";
 
 footer { @include background();}

  .socials img {
    height: 2rem;
  }
  .socials {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-bottom: 1em;

  }
  
